@page "/sessions"
@using ClassLibrary
@using ClassLibrary.Models
@using Sessiemeetings.Data
@layout AdminLayout


<h3>Sessie's</h3>


<RadzenDataList WrapItems="true" AllowPaging="true" Data="@Sessies" TItem="SessionModel">
    <Template Context="sessie">
        <RadzenCard Style="width:300px;">
            <div class="row">
                <div class="col-md-6">
                    <div>Sessie:</div>
                    <b>@sessie.SessionName</b>
                    <div>Locatie:</div>
                    <b>@sessie.SessionAddress</b>
                    <div style="margin-top:20px">Onderwerp:</div>
                    <b>@sessie.SessionDesc</b>
                    <div style="margin-top:20px">Tijd:</div>
                    <b>@sessie.SessionDate</b>
                    <div style="margin-top:20px">Datum:</div>
                    <b>@sessie.StartingTime</b>
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>


<div class="row">
    <div class="col-md-6">
        <RadzenLink Path="AddSession" Text="Nieuwe sessie toevoegen"></RadzenLink>
    </div>
</div>

@code {
    private List<SessionModel> Sessies;
    private IEnumerable<string>[] List;
    protected override void OnInitialized()
    {
        Sessies = new List<SessionModel>();
        DbConnection getSessionsList = new DbConnection();
        List = getSessionsList.GetSessionsList();
        for (int i = 0; i < List[0].Count(); i++)
        {
            Sessies.Add(new SessionModel(List[0].ElementAt(i), List[1].ElementAt(i), List[2].ElementAt(i), List[3].ElementAt(i), List[4].ElementAt(i), List[5].ElementAt(i), List[6].ElementAt(i), List[7].ElementAt(i), List[8].ElementAt(i)));
        }
    }
}
