@page "/administration"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider

    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="/css/CSS/style.css">
    </head>
    <body>

        <h3>Gebruikers beheren</h3>

        <AuthorizeView>
            <Authorized>
                @if (@context.User.IsInRole(AdminRole))
                {
                    <table class="table">
                        <thead>
                            <tr>
                                @*<th>Id</th>*@
                                <th>User Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in ColUsers)
                            {
                                <tr>
                                    @*<td>@user.Id.Substring(0, 5) ...</td>*@
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                @onclick="(() => EditUser(user))">
                                            Bewerken
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (ShowPopup)
                    {
                        //This is the popup to create or edit a user
                        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Edit User</h3>
                                        @*Button to close the popup*@
                                        <button type="button" class="close"
                                                @onclick="ClosePopup">
                                            <span aria-hidden="true">X</span>
                                        </button>
                                    </div>
                                    @*Edit form for the current user*@
                                    <div class="modal-body">
                                        @*Only show Id if not a new user*@
                                        @if (objUser.Id != "")
                                        {
                                            <p>@objUser.Id</p>
                                        }
                                        @*Only allow edit if a new user*@
                                        @if (objUser.Id != "")
                                        {
                                            <p>@objUser.UserName</p>
                                        }
                                        else
                                        {
                                            <input class="form-control" type="text"
                                                   placeholder="UserName"
                                                   @bind="objUser.UserName" />
                                        }
                                        <input class="form-control" type="text"
                                               placeholder="Email"
                                               @bind="objUser.Email" />
                                        <input class="form-control" type="password"
                                               placeholder="Password"
                                               @bind="objUser.PasswordHash" />
                                        <select class="form-control"
                                                @bind="@CurrentUserRole">
                                            @foreach (var option in Options)
                                            {
                                                <option value="@option">
                                                    @option
                                                </option>
                                            }
                                        </select>
                                        <br /><br />

                                        <button class="btn btn-primary"
                                                @onclick="SaveUser">
                                            Opslaan
                                        </button>
                                        @*Only show delete button if not a new record*@
                                        @if (objUser.Id != "")
                                        {
                                            //Button to delete the forecast
                                            <button class="btn btn-danger"
                                                    @onclick="DeleteUser">
                                                Verwijderen
                                            </button>
                                        }
                                        <br />
                                        <span style="color:red">@strError</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <button class="btn btn-success" @onclick="AddNewUser">Gebruiker toevoegen</button>
                }
                else
                {
                    <p>U bent niet ingelogd als @AdminRole.</p>
                }
            </Authorized>
            <NotAuthorized>
                <p>U bent niet ingelogd.</p>
            </NotAuthorized>
        </AuthorizeView>
</body>
</html>
        @code {
            [CascadingParameter]
            private Task<AuthenticationState> authenticationStateTask { get; set; }
            string AdminRole = "administrator";
            System.Security.Claims.ClaimsPrincipal CurrentUser;
            protected override async Task OnInitializedAsync()
            {
                // ensure there is a AdminRole
                var RoleResult = await _RoleManager.FindByNameAsync(AdminRole);
                if (RoleResult == null)
                {
                    // Create AdminRole
                    await _RoleManager.CreateAsync(new IdentityRole(AdminRole));
                }
                // Ensure a user named admin@cimsolution.nl is an Administrator
                var user = await _UserManager.FindByNameAsync("admin@cimsolutions.nl");
                if (user != null)
                {
                    // Is Admin@BlazorHelpWebsite.com in administrator role?
                    var UserResult = await _UserManager.IsInRoleAsync(user, AdminRole);
                    if (!UserResult)
                    {
                        // Put admin in Administrator role
                        await _UserManager.AddToRoleAsync(user, AdminRole);
                    }
                }
                // Get the current logged in user
                CurrentUser = (await authenticationStateTask).User;


                GetUsers();
            }

            // Able to edit current user
            IdentityUser objUser = new IdentityUser();

            // Gets role placement for current role
            string CurrentUserRole { get; set; } = "Users";

            // Collection to display the existing users
            List<IdentityUser> ColUsers = new List<IdentityUser>();

            // Options to display in the roles dropdown when editing a user
            List<string> Options = new List<string>() { "Users", "administrator" };

            // To hold any possible errors
            string strError = "";

            // To enable showing the Popup
            bool ShowPopup = false;

            void ClosePopup()
            {
                // Close the Popup
                ShowPopup = false;
            }

            public void GetUsers()
            {
                // clear any error messages
                strError = "";
                // Collection to hold users
                ColUsers = new List<IdentityUser>();
                // get users from _UserManager
                var user = _UserManager.Users.Select(x => new IdentityUser
                {
                    Id = x.Id,
                    UserName = x.UserName,
                    Email = x.Email,
                    PasswordHash = "*****"
                });
                foreach (var item in user)
                {
                    ColUsers.Add(item);
                }
            }
            void AddNewUser()
            {
                // Make new user
                objUser = new IdentityUser();
                objUser.PasswordHash = "*****";
                // Set Id to blank
                objUser.Id = "";
                // Open the Popup
                ShowPopup = true;
            }

            async Task SaveUser()
            {
                try
                {
                    if (objUser.Id != "")
                    {
                        // Get the user
                        var user = await _UserManager.FindByIdAsync(objUser.Id);
                        // Update Email
                        user.Email = objUser.Email;
                        // Update the user
                        await _UserManager.UpdateAsync(user);
                        // Only update password if the current value is not the default value
                        if (objUser.PasswordHash != "*****")
                        {
                            var resetToken =
                                await _UserManager.GeneratePasswordResetTokenAsync(user);
                            var passworduser =
                                await _UserManager.ResetPasswordAsync(
                                    user,
                                    resetToken,
                                    objUser.PasswordHash);
                            if (!passworduser.Succeeded)
                            {
                                if (passworduser.Errors.FirstOrDefault() != null)
                                {
                                    strError =
                                        passworduser
                                        .Errors
                                        .FirstOrDefault()
                                        .Description;
                                }
                                else
                                {
                                    strError = "Pasword error";
                                }
                                return;
                            }
                        }

                        // Is user in administrator role?
                        var UserResult =
                            await _UserManager
                            .IsInRoleAsync(user, AdminRole);
                        // Is Administrator role selected but user is not an Administrator?
                        if (
                            (CurrentUserRole == AdminRole)
                            &
                            (!UserResult))
                        {
                            // Put admin in Administrator role
                            await _UserManager
                                .AddToRoleAsync(user, AdminRole);
                        }
                        else
                        {
                            // Is Administrator role not selected but user is an Administrator?
                            if ((CurrentUserRole != AdminRole)
                                &
                                (UserResult))
                            {
                                // Remove user from Administrator role
                                await _UserManager
                                    .RemoveFromRoleAsync(user, AdminRole);
                            }
                        }
                    }
                    else
                    {
                        // Insert new user
                        var NewUser =
                            new IdentityUser
                            {
                                UserName = objUser.UserName,
                                Email = objUser.Email
                            };
                        var CreateResult =
                            await _UserManager
                            .CreateAsync(NewUser, objUser.PasswordHash);
                        if (!CreateResult.Succeeded)
                        {
                            if (CreateResult
                                .Errors
                                .FirstOrDefault() != null)
                            {
                                strError =
                                    CreateResult
                                    .Errors
                                    .FirstOrDefault()
                                    .Description;
                            }
                            else
                            {
                                strError = "Create error";
                            }
                            return;
                        }
                        else
                        {
                            // Handle Roles
                            if (CurrentUserRole == AdminRole)
                            {
                                // Put admin in Administrator role
                                await _UserManager
                                    .AddToRoleAsync(NewUser, AdminRole);
                            }
                        }
                    }
                    ShowPopup = false;
                    GetUsers();
                }
                catch (Exception ex)
                {
                    strError = ex.GetBaseException().Message;
                }
            }

            async Task EditUser(IdentityUser _IdentityUser)
            {
                // Set the selected user as the current user
                objUser = _IdentityUser;
                // Get the user
                var user = await _UserManager.FindByIdAsync(objUser.Id);
                if (user != null)
                {
                    // Is user in administrator role?
                    var UserResult =
                        await _UserManager
                        .IsInRoleAsync(user, AdminRole);
                    if (UserResult)
                    {
                        CurrentUserRole = AdminRole;
                    }
                    else
                    {
                        CurrentUserRole = "Users";
                    }
                }
                ShowPopup = true;
            }

            async Task DeleteUser()
            {
                ShowPopup = false;
                // Get the user
                var user = await _UserManager.FindByIdAsync(objUser.Id);
                if (user != null)
                {
                    // Delete the user
                    await _UserManager.DeleteAsync(user);
                }
                GetUsers();
            }
        }
