@page "/session"
@using ClassLibrary
  

<h3>Sessie's</h3>

<div class="row">
    <RadzenTextBox Placeholder="Zoek sessie" />
</div>
<hr />

<RadzenDataList WrapItems="true" AllowPaging="true" Data="@list" TItem="IEnumerable<string>">
    <Template Context="sessionList">
        <RadzenCard Style="width:300px;">
            <div class="row">
                <div class="col-md-6">
                    <div>Sessie:</div>
                    <b>@list.ElementAt(1).ElementAt(i)</b>
                    <div>Locatie:</div>
                    <b>@list.ElementAt(2).ElementAt(i)</b>
                    <div style="margin-top:20px">Oderwerp:</div>
                    <b>@list.ElementAt(3).ElementAt(i)</b>
                    <div style="margin-top:20px">Tijd:</div>
                    <b>@list.ElementAt(4).ElementAt(i)</b>
                    <div style="margin-top:20px">Datum:</div>
                    <b>@list.ElementAt(5).ElementAt(i)</b>
                    </div>
                </div>
            @{i++;
                }
        </RadzenCard>
    </Template>
</RadzenDataList>


<div class="row">
    <div class="col-md-6">
        <RadzenLink Path="AddSession" Text="Nieuwe sessie toevoegen"></RadzenLink>
    </div>
</div>

@code {        

    IEnumerable<string>[] list;
    int i = 0;
    protected override void OnInitialized()
    {
        DbConnection getSessionsList = new DbConnection();
        list = getSessionsList.GetSessionsList();
    }
}
